.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Global classes for use in entire project */

.remove {
  padding: 0 !important;
  line-height: 20px !important;
  width: 20px !important;
  border-radius: 50% !important;
}
.rt-td {
  overflow: inherit !important;
}

.ui.menu > .item.active {
  border-bottom: 1px solid yellow !important;
}

.App .ui.floating.label {
  top: 0 !important;
  left: 99.5% !important;
}

.App .ui.circular.label {
  margin-left: 5px;
}

.App .ui.floating.message {
  z-index: 1;
}

.App .ui.error.message {
  background-color: #f7b5b5;
}